<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimittens - Busque a Transformação</title>
    <link rel="stylesheet" href="../CSS/cadastropsicologos.css">
</head>
<body>
    <main class="container">
        <section class="logotipo">
            <img src="../Imagens/logo roxo.png" alt="" id="logo">
        </section>
        <h1 class="title">Bem Vindo(a) a Dimittens</h1>
        <form action="">

            <section class="input-field">
                <label for="username">Nome Completo</label>
                <input type="text" name="username" class="input" id="username" placeholder="Digite seu nome">
           
                <label for="userdate">Data de Nascimento</label>
                <input type="date" name="userdate" class="input" id="userdate">
           
                <label for="userdocuments">RG/CPF</label>
                <input type="text" name="userdocuments" class="input" id="userdocuments" placeholder="Digite seu RG ou CPF">
           
                <label for="userdocuments">CRP</label>
                <input type="text" name="userdocuments" class="input" id="userpdocuments" placeholder="Digite seu CRP">

                <label for="useremail">Email</label>
                <input type="text" name="useremail" id="useremail" class="input" placeholder="Digite seu email">

                <label for="userpassword">Criar Senha</label>
                <input type="password" name="userpassword" class="input" id="userpassword" placeholder="Digite sua senha">

                <label for="usercpassword">Confirmar Senha</label>
                <input type="password" name="usercpassword" class="input" id="usercpassword" placeholder="Digite sua senha">
            </section>
        
        <section class="continue">
            <input type="submit" value="Continuar" id="continuar">
        </section>

        </form>
            <section class="signup-conditions">
                <p id="termos-de-serviço" class="sign">Ao continuar, você concorda com os <br>
                    <a href="#">Termos de Serviço</a> da Dimittens e confirma que <br>leu a nossa <a href="#">Política de Privacidade</a> 
                </p>
                <hr>
                <p id="aviso-entrar" class="sign"><strong>Já tem uma conta? <a href="#">Entrar</strong></a></p>
            </section>
        </article>
    </main>
</body>
</html>