<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimittens - Busque a Transformação</title>
    <link rel="stylesheet" href="../CSS/cadastromenor.css">
</head>
<body>
    <main class="container">
        <section class="logotipo">
            <img src="../Imagens/logo amarelo.png" alt="" id="logo">
        </section>
        <h1 class="title">Bem Vindo(a) a Dimittens</h1>
        <form action="">

            <section class="input-field">
                <label for="username" class="lbln">Nome Completo do Menor de Idade</label>
                <input type="text" name="username" class="input" id="usermname" placeholder="Digite o nome">

          
                <label for="userdocuments" class="lbl">RG ou CPF do Menor de Idade</label>
                <input type="text" name="userdocuments" class="input" id="usermdocuments" placeholder="Digite o documento">
           

           
                <label for="username" class="lbl">Nome Completo do Responsável</label>
                <input type="text" name="username" class="input" id="usernamer" placeholder="Digite seu nome">
           

                <label for="userdocuments" class="lbl">RG ou CPF do Responsável</label>
                <input type="text" name="userdocuments" class="input" id="userrdocuments" placeholder="Digite o documento">

                <label for="useremail" class="lbl">Email</label>
                <input type="text" name="useremail" class="input" id="useremail" placeholder="Digite seu email">

                <label for="userpassword" class="lbl">Criar Senha</label>
                <input type="password" name="userpassword" class="input" id="userpassword" placeholder="Digite sua senha">

                <label for="usercpassword" class="lbl">Confirmar Senha</label>
                <input type="password" name="usercpassword" class="input" id="usercpassword" placeholder="Digite sua senha">
            </section>
     
        <section class="continue">
            <input type="submit" value="Continuar" id="continuar">
        </section>

        </form>
            <section class="signup-conditions">
                <p id="termos-de-serviço" class="sign">Ao continuar, você concorda com os <br>
                    <a href="#"><strong>Termos de Serviço</strong></a> da Dimittens e confirma que <br>leu a nossa <a href="#"><strong>Política de Privacidade</strong></a> 
                </p>
                <hr>
                <p id="aviso-entrar" class="sign"><strong>Já tem uma conta? <a href="#">Entrar</strong></a></p>
            </section>
        </article>
    </main>
</body>
</html>