<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dimittens</title>
    <link rel="stylesheet" href="../../public/css/pagina-inicial-logged.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
</head>
<body>
    <header>
        <article class="menu-device">
            <i class="fa-solid fa-bars" id="menu-smart"></i>
            <section class="right-icons">
                <i class="fa-solid fa-user" id="user"></i>
                <i class="fa-solid fa-gear" id="config"></i>
            </section>
        </article>
        <article class="menu">
            <a href="#" class="logo"><img src="../../public/imagens/logo-menu.png" alt="" class="logo-img"></a>
            <ul class="nav-bar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Psicólogos</a></li>
                <li><a href="#">Calendário</a></li>
                <li><a href="#">Comunidades</a></li>
                <li><a href="#">Sobre nós</a></li>
                <li><a href="#">Chat</a></li>
            </ul>
        </article>
    </header>
    <main>
        <article class="primeiro-quadrante">
            <section class="text">
                <h1 class="titulo">Dimittens<br>Cuidando da sua Mente</h1>
                <p class="p-slogan">Nosso bem-estar é o que fazemos dele <br>
                coloque a sua saúde mental em primeiro lugar!<br>
                Cuide-se agora, sem sair de casa.</p>
            </section>
            <section class="d-fundo">
                <img src="../../public/imagens/mulher-320px.png" alt="" class="mulher-320px">
                <img src="../../public/imagens/mulher.png" alt="" class="mulher">
                <img src="../../public/imagens/950px.png" alt="" class="d-original">
                <img src="../../public/imagens/810px.png" alt="" class="d810">
                <img src="../../public/imagens/660px.png" alt="" class="d660">
                <img src="../../public/imagens/510px.png" alt="" class="d510">
                <img src="../../public/imagens/360px.png" alt="" class="d360">
                <img src="../../public/imagens/210px.png" alt="" class="d210">

            </section>
        </article>
        <article class="tipo-terapia">
            <section class="sec-terapia">
                <img src="../../public/imagens/terapia-individual.jpg" alt="">
                <h1>Terapia Individual</h1>
                <p class="p-terapia">Descubra seu potencial!<br>
                Supere seus desafios e encontre<br>equilíbrio conosco!</p>
            </section>
            <section class="sec-terapia">
                <img src="../../public/imagens/terapia-grupal.png" alt="">
                <h1>Terapia em Grupo</h1>
                <p class="p-terapia">Conheça novas perspectivas!<br>
                Encontre apoio e novas conexões aqui<br>com a Dimittens.</p>
            </section>
            <section class="sec-terapia-isolado">
                <img src="../../public/imagens/terapia-casal.png" alt="">
                <h1>Terapia em Casal</h1>
                <p class="p-terapia">Aprendam a superar seus conflitos,<br>restaurar e
                fortificar o laço com seus<br>parceiros na Dimittens.</p>
            </section>
        </article>
        <article class="transtornos-carrosel">
            <section class="info-titulo">
                <h1>COMO PODEMOS TE AJUDAR?</h1>
                <hr>
                <p>Os transtornos são uma combinação de pensamentos, percepções, emoções <br> e comportamentos anormais, que podem afetar sua relação <br>com outras pessoas</p>
            </section>
            <section class="iframe-container"><iframe src="../partial/carrosel-transtornos.html"class="iframe-carrosel"></iframe></section>
        </article>
        <article class="passo-a-passo">
                <iframe src="../partial/passo-a-passo.html" class="iframe-pap"></iframe>
        </article>
        <article class="testemunhas">
            <iframe src="../partial/comentários.html" frameborder="0"></iframe>
        </article>
    </main>
</body>
</html>
